@import '/node_modules/bootstrap/scss/_functions.scss';
@import "/node_modules/bootstrap/scss/variables";
// @import "/node_modules/bootstrap/scss/variables-dark";
@import "/node_modules/bootstrap/scss/maps";
// @import "/node_modules/bootstrap/scss/mixins";
// @import "/node_modules/bootstrap/scss/root";

$primary: #66926e;
$primary-light: #b9d0b0;

$theme-colors: map-merge(
  $theme-colors, 
  (
    "primary": $primary,
  )
);

@import "/node_modules/bootstrap";